
.venv/
venv/


__pycache__/
*.py[cod]


*.so
*.exe
*.dll
*.o
*.a
*.out


.idea/
.vscode/


*.log
*.coverage
coverage.xml
.cache/


test.py
tweets_data.py




#*.txt
!README.txt


*.ipynb_checkpoints/

*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db